<form #todoItemForm="ngForm" (ngSubmit)="addItem(todoItemForm.value)">
  <label>Todo name</label>
  <input required minlength="5" name="title" type="text"  class="form-control" [(ngModel)]="item.title" #title="ngModel"  />
  <div class="alert alert-danger" *ngIf="!title.valid && title.touched">Title required 3 characters</div>
  <label>Todo description</label>
  <input name="description" type="text" class="form-control" [(ngModel)]="item.description"/>
  <button type="submit" class="btn-primary">Click</button>
</form>

<!--<form [formGroup]="itemFG" (ngSubmit)="onSubmit()">
  <label>Todo name</label>
  <input required minlength="5" name="titleFC" type="text" class="form-control" [(ngModel)]="itemFG.titleFC" #titleFC="ngModel" />
  <div class="alert alert-danger" *ngIf="!titleFC.valid && titleFC.touched">Title required 3 characters</div>
  <label>Todo description</label>
  <input name="descriptionFC" type="text" class="form-control" [(ngModel)]="itemFG.descriptionFC" />
  <button type="submit" class="btn-primary">Click</button>
</form>-->
