<custom-title title="{{pageTitle}}"></custom-title>
<form [formGroup]="formGroup" (ngSubmit)="addItem()">
  <mat-form-field appearance="fill">
    <mat-label>Todo name</mat-label>
    <input matInput
           type="text"
           name="itemTitle"
           formControlName="itemTitle" />
    <mat-error *ngIf="!formGroup.get('itemTitle').valid && formGroup.get('itemTitle').touched">Title required 3 characters</mat-error>
  </mat-form-field>
  <br />
  <mat-form-field class="long-description" appearance="fill">
    <mat-label>Todo description</mat-label>
    <input matInput
           type="text"
           name="itemDescription"
           formControlName="itemDescription"/>
    <mat-error *ngIf="!formGroup.get('itemDescription').valid && formGroup.get('itemDescription').touched">Description required minimum 5 characters</mat-error>
  </mat-form-field>
  <br />
  <button mat-raised-button color="primary" [disabled]="!formGroup.valid">Click</button>
  <button mat-raised-button color="accent" [routerLink]="['/']">Cancel</button>
</form>

