<div *ngFor="let item of items"
     @fade
     [ngClass]="{
     'task-completed' : !item.isDone,
     'task-not-completed' :item.isDone
     }">
  <div @fade *ngIf="item.toDoItemGroupId ==  idOfGroup">
    <b>Title:</b>{{item.title}}
    <span class="float-right">
      <button class="btn-primary" style="margin-right:5px" (click)="completeTask(item)">Completed</button>
      <button type="button" (click)="deleteItem(item)" class="btn-danger"><i class="fa fa-trash"></i></button>
    </span><br />
    <b>Description:</b>{{item.description}}<br />
    <hr />
  </div>
</div>

