<!--<mat-spinner mode="indeterminate" *ngIf="isLoading"></mat-spinner>-->

<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th width="25%">Name of Group</th>
      <th>Edit</th>
      <th>Add</th>
      <th style="min-width:600px">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr @dissapearGroup *ngFor="let group of groups">
      <td>{{group.name}}</td>
      <td><button [routerLink]="['/editItemGroup/' + group.id]" color="primary" mat-raised-button>Edit</button></td>
      <!--<td>--><!--<button (click)="openDialog()" class="btn btn-primary">Edit</button>--><!--</td>-->
      <td width="25%">
        <button [routerLink]="['/add-item']" [queryParams]="{groupId : group.id}" mat-raised-button color="accent">
          <span class="material-icons">add_task</span>
        </button>
      </td>
      <td>
        <div class="zippy">
          <div class="zippy-heading" [class.expanded]="isExpanded" (click)="toggle()">

            <span class="fa" [ngClass]="{
            'fa-angle-up' : isExpanded,
            'fa-angle-down': !isExpanded
             }"></span>
          </div>
          <div *ngIf="isExpanded" class="zippy-body">
            <app-todo-item idOfGroup="{{group.id}}"></app-todo-item>
          </div>
        </div>
      </td>
      <td @dissapearGroup>
        <button color="warn" mat-raised-button (click)="deleteGroup(group.id)">
          <mat-icon aria-hidden="false">delete_forever</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
